<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Productsup Logger Test Suite">
            <directory>tests/Productsup/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Productsup/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>
